<h1 style = 'color:#BD3737; text-align: center; font-weight: bold'>Universidad Castro Carazo</h1>
<h5 style = 'color:#942222; text-align: center'>Análisis de Datos</h5>
<center> <img src = 'carro-deportivo.png'> <center>
</br>
<p style = 'text-align: justify; font-family: Tahoma'>El análisis de datos es un proceso sistemático y metódico que implica la recopilación, organización, interpretación y visualización de conjuntos de datos con el objetivo de extraer información significativa y relevante. Este proceso utiliza herramientas, tecnologías y procesos para encontrar tendencias y resolver problemas mediante datos.</p>

<table>
  <tr>
    <td> <img src = boton-de-informacion.png> </td>
    <td>Repositorio UCI del set de datos </td>
    <td> <a href = 'https://archive.ics.uci.edu/dataset/10/automobile'>Enlace al sitio web</a> </td>
  </tr>
  <tr>
    <td> <img src = pantone.png> </td>
    <td>Paleta de colores </td>
    <td> <a href = 'https://paletadecolores.com.mx/paleta/942222/bd3737/d4cdad/98c3a1/25857d/'>Enlace al sitio web</a> </td>
  </tr>
</table>

<h2 Style = "color:  #a8c4a2 ">1. Carga y estandarizacion de los set de datos</h2>
 
<ul>
<li style="font-family: Tahoma">Instalar e importar las librerias necesarias para trabajar</li>
<li style="font-family: Tahoma">Importar los archivos csv (Set de Datos)</li>
<li style="font-family: Tahoma">Revison de los set de datos (encabezados)</li>
<li style="font-family: Tahoma">Generar un unico set de datos</li>
</ul>
 
<h4 style="color:#616382; font-family: Tahoma"> 1.1) Instalar e importar las librerias necesarias para trabajar </h4>

In [2]:
import numpy as np #Esta libreria es para trabajar estructuras de datos (Listas, Tuplas, Diccionarios) 
import pandas as pd #Esta libreria se usa para el manejo de datos (dataFrame)
import matplotlib as npl #Esta libreria se usa para crear graficos. 
import matplotlib.pyplot as plt #Esta libreria se usa para crear graficos.
import seaborn as sn #Esta libreria se usa para crear graficos.

<h4 style="color:#616382; font-family: Tahoma"> 1.2) Importar Set de Datos </h4>

In [7]:
#Esta tupla es para definir los nombres de cada variable (columnas)
cols = ["symboling", "Normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylind3rs", "engine size", "system", "bor3", "stroke",
       "compression", "hOrsepower", "peak", "CITY", "Higway", "price"]
dfAutos1 = pd.read_csv("DataSet_Autos01.csv", names=cols)
dfAutos2 = pd.read_csv("DataSet_Autos02.csv", names=cols)
print ('Se cargaron los datos a la memoria')

Se cargaron los datos a la memoria

<h4 style="color:#616382; font-family: Tahoma"> 1.3) Revision de los Set de Datos </h4>

<table>
  <tr>
    <td> <img src = boton-de-informacion.png> </td>
    <td>La primera columnaa de los set de datos se tienen que revisar para poder determinar si esta corresponde a un indice o a una variable</td>
  </tr>
</table>

In [8]:
dfAutos1.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [10]:
dfAutos2.head(2)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
4.0,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [13]:
dfAutos1.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
161.0,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
54.0,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
163.0,1,168,toyota,gas,std,two,hatchback,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
140.0,0,102,subaru,gas,std,four,sedan,fwd,front,97.2,...,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126

In [14]:
dfAutos2.tail(2)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
3.0,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [15]:
dfAutos1.shape

(201, 26)

In [16]:
dfAutos2.shape

(201, 26)

In [17]:
dfAutos1.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [18]:
dfAutos2.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

<h4 style="color:#616382; font-family: Tahoma"> 1.4) Generar un unico Set de Datos </h4>

In [19]:
unionArchivos = [dfAutos1, dfAutos2]
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(402, 26)

<h4 style="color:#616382; font-family: Tahoma"> 1.5) Solucionar los primeros errores identificados</h4>

In [20]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [21]:
dfAutos.reset_index(drop=True, inplace=True)
dfAutos

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
398,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
399,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
400,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
401,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [22]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [23]:
dfAutos.rename({'Normalized':'normalized', 'Cylind3rs':'cylinders', 'engine size':'engineSize',
                'bor3':'bore', 'hOrsepower':'horsepower', 'CITY':'city', 'Higway':'higway'},axis=1, inplace=True)
dfAutos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [24]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689